/* home.css */

body {
  background-color: #1b252a;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 20px auto;
  padding: 20px;
}

/* Section de recherche et statistiques */
.search-section {
  flex: 1;
  margin-right: 20px;
}

.form_style {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form_style input[type="text"] {
  background-color: #101619;
  border: 1px solid #2c3539;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.checkbox {
  display: flex;
  gap: 50px;
}

/* Style de la case à cocher */
.checkbox input[type="checkbox"] {
  -webkit-appearance: none; /* Désactive le style natif sur les navigateurs Webkit */
  -moz-appearance: none; /* Désactive le style natif sur Firefox */
  appearance: none; /* Désactive le style natif */
  width: 25px;
  height: 25px;
  border: 2px solid #bbb; /* Bordure grise par défaut */
  border-radius: 5px; /* Coins arrondis */
  position: relative;
  background-color: transparent; /* Fond transparent */
  cursor: pointer;
  transition: all 0.3s ease; /* Transition fluide */
  vertical-align: middle; /* Aligne verticalement la checkbox */
}

/* Lorsque la case est cochée, fond vert et bordure verte */
.checkbox input[type="checkbox"]:checked {
  background-color: #00ff99; /* Fond vert clair */
  border-color: #00ff99; /* Bordure verte */
}

/* Affichage d'une coche ✅ à l'intérieur de la case lorsque cochée */
.checkbox input[type="checkbox"]:checked::after {
  content: "✔"; /* Symbole de coche */
  position: absolute;
  top: 0; /* Centrer la coche */
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white; /* Couleur de la coche en blanc */
}

/* Effet de survol */
.checkbox input[type="checkbox"]:hover {
  border-color: #00ff99; /* Bordure verte lors du survol */
}

/* Texte à côté de la case */
.checkbox label {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  margin-left: 10px;
  display: inline-flex; /* Utiliser inline-flex pour aligner le texte avec la case */
  align-items: center; /* Centrer le texte verticalement avec la checkbox */
}

.suggestions-list {
  background-color: #101619;
  border: 1px solid #2c3539;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  color: #ffffff;
}

.suggestion-item:hover {
  background-color: #171e21;
}

/* Statistiques */
.item_preview {
  margin-top: 20px;
  text-align: left;
}

.preview-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.preview-content img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.average {
  margin-top: 10px;
  background-color: #101619;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #2c3539;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.average h3 {
  font-size: 20px;
  color: cyan;
  font-weight: 200;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 45px;
}

.average p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #7ca3af;
}

.votre-classe-image {
  width: 20px;
  height: 20px;
}

/* Section des résultats */
.results-section {
  flex: 2;
  background-color: #101619;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #2c3539;
}

.player_data {
  position: relative;
  padding: 0 15px;
  background: var(--color_background);
  display: grid;
  grid-column-gap: 10px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  align-items: center;
  grid-template: "profile status reputation price quantity rank buttons" 50px / 25% 1fr 1fr 1fr 1fr 125px;
}

.player_data:nth-child(even) {
  background-color: #171e21;
}

.player_data a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.action-btn {
  padding: 5px 10px;
  background-color: #6c56a1;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
}

.action-btn:hover {
  background-color: #875cbf;
}

.message input[type="text"] {
  width: 100%;
  background-color: #101619;
  border: 1px solid #2c3539;
  color: #ffffff;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  outline: none;
}
